.card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding-top: 20px;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #CCC;
}

.card img {
  width: 100%
}

@media (min-width: 769px) {
  .card {
    width: calc(50% - 20px);
  }
}