#resume {
  text-align: left;
  display: inline-flex;
  gap: 20px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* --------- breakpoints ----------
321-768
769+
*/

@media (min-width: 769px) {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}