/*---------- global ----------*/
* {
  --main-orange: rgb(255, 115, 0);
  font-family: "Alegreya", serif;
  font-size: 1.3rem;
  line-height: 1.2rem;
  box-sizing: border-box;
}

#root {
  margin: auto;
  margin-top:10px;
}

body {
  text-align: center;
  display:flex;
  min-width: 320px;
  min-height: 100vh;
  margin:0px;
  padding-bottom: 90px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

h6 {
  font-family: "Alegreya SC", serif;
  font-weight: 100;
  font-size: 1rem;
  text-transform: lowercase;
  letter-spacing: .6rem;
  margin-top: 10px;
  margin-bottom: -10px;
}

nav {
  margin-top: 20px;
  border-bottom: 1px solid black;
}

a {
  font-size: .75em;
  color: black;
  text-decoration: none;
}

a:hover {
  text-shadow:0 0 10px var(--main-orange);
  cursor: auto;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size:.8rem;
  width:100px;
}

button:hover {
  background-color: var(--main-orange);
  color: white;
}

/*---------- footer ----------*/
#footer {
  background-color:white;
  padding-top:20px;
  height:70px;
  position:fixed;
  bottom:0;
}
